* text=auto eol=lf
*.png binary
*.gif binary
*.mp4 binary
*.pcd binary
*.zip binary
results/reference/** -text whitespace=-blank-at-eol
*.pdf binary

src/physical/evidence/** -text whitespace=-blank-at-eol
