[submodule "dufomap"]
	path = upstream/dufomap
	url = https://github.com/KTH-RPL/dufomap.git
[submodule "beautymap"]
	path = upstream/beautymap
	url = https://github.com/MKJia/BeautyMap.git
[submodule "conceptgraphs"]
	path = upstream/conceptgraphs
	url = https://github.com/concept-graphs/concept-graphs.git
[submodule "hovsg"]
	path = upstream/hovsg
	url = https://github.com/hovsg/HOV-SG.git
[submodule "dynamicmap"]
	path = upstream/dynamicmap
	url = https://github.com/KTH-RPL/DynamicMap_Benchmark.git
